.emailer-container
  display: flex
  flex-direction: column
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  & button
    outline: none
    &.home-btn
      margin-left: auto

h1.emailer-title
  margin-left: 8px

.emailer-sidenav-container
  flex: 1

.emailer-sidenav
  width: 150px

.nav-link
  width: 200px

.create-message
  margin-left: 35px