<div class="send-message" *ngIf="showWindow" (click)="closeWindow()">
  <div class="send-message-container" (click)="$event.stopPropagation()">

    <div class="send-message-header d-flex justify-content-between align-items-center">
      <p>New Message</p>
      <i (click)="closeWindow()" class="material-icons">close</i>
    </div>

    <div class="send-message-main">
      <form
        [formGroup]="messageForm"
        #form="ngForm"
        (ngSubmit)="onSendMessage(form.value)"
        class="message-form">
        <mat-form-field class="w-100">
          <input type="text" placeholder="Recipient" aria-label="Number" matInput formControlName="recipient" [matAutocomplete]="auto">
          <mat-autocomplete showPanel="false" autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
        <mat-form-field class="message-subject w-100">
          <input name="title" formControlName='title' matInput placeholder="Subject">
        </mat-form-field>
        <mat-form-field class="message-text w-100">
          <textarea name="text" formControlName='text' rows="15" matInput></textarea>
        </mat-form-field>

        <div class="message-form-footer d-flex justify-content-between align-items-center">
          <button
            class="send-message-btn"
            mat-raised-button color="primary">
            Send
          </button>
          <button type="submit" mat-icon-button (click)="closeWindow()">
            <mat-icon class="text-muted" matListIcon>delete</mat-icon>
          </button>
        </div>

      </form>
    </div>

  </div>
</div>

